<nav>
  <ul id="menu">
    <li class="menu_icon right_side_menu"><a routerLink="/search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
    <!--<li *ngIf="isConnectedMenu == 'true'" class="menu_icon"><a routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i></a></li>-->
    <!--<li *ngIf="isConnectedMenu == 'true'" class="menu_icon"><a routerLink="/message"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>-->
    <!--<li class="menu_letter "><a routerLink="/signup/step0">Sign Up</a></li>-->
    <li class="menu_letter"><a routerLink="/auth">Log In / Sign Up</a></li>
    <li class="menu_letter"><a routerLink="/logout">Log Out</a></li>
    <!--<li class="menu_letter"><a routerLink="/streamings">Streaming</a></li>-->
    <!--<li class="menu_letter"><a routerLink="/events">Evenements</a></li>-->
    <!--<li class="menu_letter"><a routerLink="/news">Actualite</a></li>-->
    <li class="menu_letter"><a routerLink="/">Home</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
