<div class="window"></div>

<div class="menuWindow"></div>

<div class="mainWindow">

  <div class="blueLine"></div>

  <div class="row">
    <div class="col-md-8">
      <br>
      <div id="sign">
        <img src="/../../../../assets/images/image_connexion.png" alt="Photo de montagne" />
      </div>
    </div>


    <div class="col-md-4">
      <h1>Bienvenue Sur NoName Gaming</h1>

      <div class="menuLogIn">

        <ul class="tab">

          <li><a href="javascript:void(0)" class="tablinks" (click)="authLiClick($event, 'signUp')">S'inscrire</a></li>
          <li><a href="javascript:void(0)" class="tablinks active" (click)="authLiClick($event, 'logIn')">Se Connecter</a></li>
          <li class="liEnd"></li>

        </ul>

      </div>

      <div id="logIn" class="formStyle">

        <div *ngIf="status==401" id="errorMessage">

          <strong>{{error.errorMessage}}</strong>

        </div>


        <form (submit)="checkAuth()">

          <input (keyup)="entryVerification($event,'login')" (change)="entryVerification($event,'login')" class="inputGray" id="emailAuth" type="text" placeholder="Email Adress/Username" required>
          <input (keyup)="entryVerification($event,'password')" (change)="entryVerification($event,'password')" class="inputGray" id="pwdAuth" type="password" placeholder="Mot de passe" required>
          <button id="logInSubmitButton" class="connectButton" disabled>SE CONNECTER ET JOUER</button>

        </form>

        <div class="facebookButton">

          <button class="buttonFacebook" disabled><img class="fb_img" src="../../../../assets/images/facebook.png"> Se connecter avec Facebbok</button>

        </div>

      </div>

      <div id="signUp" class="formStyle">

        <form (submit)="onSubmit($event)">

          <input class="inputGray" id="signUpButton" type="text" placeholder="Email Adress/Username" required>

          <button class="connectButton">S'inscrire avec adresse mail</button>

        </form>

        <button class="buttonFacebook" disabled><img class="fb_img" src="../../../../assets/images/facebook.png"> S'inscrire avec Facebook</button>

      </div>

    </div>
    <div class="col-md-12 state-message">
      <div [hidden]="!submitted">

        <div *ngIf="infoMessage" class="alert alert-success infoMessage">

          <strong>Success!</strong> {{infoMessage}}

        </div>


        <div *ngIf="errorMessage" class="alert alert-danger errorMessage">

          <strong>Error!</strong> {{errorMessage}}

        </div>

      </div>
    </div>
    <div class="col-md-4"></div>

  </div>
  <br><br><br><br>
  <div class="blueLine"></div>

</div>
