<div class="container">

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href>Angular2 File Upload</a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">

      <h3>Select files</h3>

      <!--Multiple-->
      <!--<input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>-->

      Single
      <input type="file" name="uploadFile" ng2FileSelect [uploader]="uploader" />
    </div>

    <button type="button" class="btn btn-success btn-s"
            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>


  </div>

</div>
