<div class="register">
  <div class="register-triangle"></div>

  <h2 class="register-header">Register</h2>

  <form class="register-container" (submit)="registerUser()">
    <p><input type="text" placeholder="Username" required></p>
    <p><input type="email" placeholder="Email" required></p>
    <p><input type="text" placeholder="Firstname" required></p>
    <p><input type="text" placeholder="Lastname" required></p>
    <p><input type="password" placeholder="Password" required></p>
    <p><input type="password" placeholder="Retype Password" required></p>
    <p><input type="submit" value="Register"></p>
    <a href="/auth">Login</a>
  </form>
</div>
