<div class="register">
  <div class="register-triangle"></div>

  <h2 class="register-header">Register</h2>

  <form #heroForm="ngForm" class="register-container" (ngSubmit)="onSubmit()">
    <p><input type="text" class="form-control" id="username"
              [(ngModel)]="signupUser.username" name="username"
              placeholder="Username" required></p>
    <p><input type="email" class="form-control" id="email"
              [(ngModel)]="signupUser.email" name="email"
              placeholder="Email" required></p>
    <p><input type="text" class="form-control" id="firstname"
              [(ngModel)]="signupUser.firstname" name="firstname"
              placeholder="Firstname" required></p>
    <p><input type="text" class="form-control" id="lastname"
              [(ngModel)]="signupUser.lastname" name="lastname"
              placeholder="Lastname" required></p>
    <p><input type="password" class="form-control" id="password"
              [(ngModel)]="signupUser.password" name="password"
              placeholder="Password" required></p>
    <p><input type="password" class="form-control" id="passwordConfirmation"
              [(ngModel)]="signupUser.passwordConfirmation" name="passwordConfirmation"
              placeholder="Retype Password" required></p>
    <p><button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Register</button></p>
    <!--<p><input type="submit" value="Register"></p>-->
    <a href="/auth">Login</a>
  </form>
</div>
